.package__info {
  background-image: url("https://images.unsplash.com/photo-1609619385002-f40f1df9b7eb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8dmlkZW8lMjBlZGl0aW5nfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}
