.drone {
  background-image: url("https://media.cntraveler.com/photos/598202a9d8b70e58cdb15f07/16:9/w_2580,c_limit/Arc-de-Triomphe-GettyImages-186543860.jpg");
  height: 55vh;
  background-repeat: no-repeat;
  background-size: cover;
}
