.image__grid {
  --gap: 20px;
  --num--cols: 4;
  --row--height: 300px;

  margin-top: 5%;
  box-sizing: border-box;
  border: none;

  padding: var(--gap);

  display: grid;
  justify-content: center;
  grid-template-columns: repeat(var(--num--cols), 1fr);
  grid-auto-rows: var(--row--height);
  gap: var(--gap);
}

.image__grid > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* 1st img */
.img-grid-col-1 {
  grid-column: span 1;
}

.img-grid-row-3 {
  grid-row: span 3;
}
/* 2nd img */
.img-grid-col-1 {
  grid-column: span 1;
}

.img-grid-row-2 {
  grid-row: span 1;
}


@media screen and (max-width: 1024px) {
  .image__grid {
    --num-cols: 2;
    --row--height: 200px;
  }
}
