.drone > h1 {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.drone__info {
  background-image: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/hong-kong-china-1529607809.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.drone__description {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-top: 80px;
}

.drone__description > img {
  width: 50%;
  object-fit: cover;
  border-radius: 5px;
}

.drone__description > p {
  width: 700px;
  margin-top: 70px;
  letter-spacing: 0.2px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 50px;
}

.drone__contact {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  background-color: rgba(228, 228, 228, 0.63);
  padding: 20px;
}

.drone__contact > h2 {
  font-weight: 500;
  font-size: 30px;
  margin-right: 10px;
}

.btn > button {
  padding: 10px;
  width: 130%;
  margin-left: 15px;
  border-radius: 5px;
  color: black;
  font-size: 16px;
  font-weight: 600;
  background-color: white;
}

.btn > button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.image__grid {
  --gap: 16px;
  --num--cols: 3;
  --row--height: 200px;

  margin: 10%;
  box-sizing: border-box;

  padding: var(--gap);

  display: grid;
  justify-content: center;
  grid-template-columns: repeat(var(--num--cols), 1fr);
  grid-auto-rows: var(--row--height);
  gap: var(--gap);
}

.image__grid > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* 1st img */
.img-grid-col-1 {
  grid-column: span 0;
}

.img-grid-row-3 {
  grid-row: span 3;
}

/* 2nd img */
.img-grid-col-1 {
  grid-column: span 1;
}

.img-grid-row-2 {
  grid-row: span 2;
}

@media (max-width: 500px) {
  .image__grid {
    --num--cols: 1;
  }
}
