.nature__section {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin: 3%;
}

.nature__section > img {
  width: 50%;
  height: 30%;
  margin-right: 6%;
}

.nature__details {
  padding: 5rem;
}

.nature__details > h2 {
  margin-bottom: 2rem;
  font-size: 27px;
  font-weight: 500;
}

.nature__details > h4 {
  margin-bottom: 1.5rem;
  color: rgb(71, 71, 71);
}

.nature__details > p {
  width: min(90%, 500px);
  line-height: 1.6;
}

.nature__details__btn > button {
  margin-top: 1.5rem;
  padding: 0.8rem;
  width: 20%;
  font-size: 16px;
  border: none;
  border-bottom: 3px solid rgb(1, 1, 82);
  border-radius: 5px;
}

.nature__details__btn > button:hover {
  background-color: rgb(221, 221, 221);
  letter-spacing: 0.5px;
  cursor: pointer;
}

@media (max-width: 767px) {
  .nature__section {
    display: flex;
    flex-direction: column;
  }
}
