.home__image {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(231, 231, 231);
}

.home__image > img {
  width: 50%;
  height: 30%;
  object-fit: cover;
}

.home__details {
  padding: 3rem;
}

.home__details > h2 {
  margin-bottom: 2rem;
  font-size: 27px;
  font-weight: 500;
}

.home__details > h4 {
  margin-bottom: 1rem;
  font-size: 17px;
  color: rgb(71, 71, 71);
}

.home__details > p {
  width: min(90%, 500px);
  line-height: 1.6;
}

.button__details > button {
  margin-top: 1.5rem;
  padding: 0.8rem;
  width: 20%;
  font-size: 16px;
  border: none;
  border-bottom: 3px solid rgb(1, 1, 82);
  border-radius: 5px;
}

.button__details > button:hover {
  background-color: rgb(221, 221, 221);
  letter-spacing: 0.5px;
  cursor: pointer;
}
