.lifestyle {
  display: flex;
  background-color: rgb(248, 248, 240);
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.lifestyle__description {
  margin: 40px;
}

.lifestyle__description > p {
  width: min(90%, 500px);
  font-weight: 380;
  letter-spacing: 0.2px;
  font-size: 17px;
}

.lifestyle__description > h3 {
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 30px;
}

.lifestyle__description > h2 {
  font-weight: 500;
  margin-top: 35px;
}

.link > button {
  margin-top: 20px;
  padding: 10px 10px;
  width: 30%;
  border-radius: 5px;
  border: 0.2px solid black;
  box-shadow: 1px 1px rgb(61, 60, 60);
  font-size: 15px;
  font-weight: 600;
  background-color: white;
  color: black;
  cursor: pointer;
}

.link > button:hover {
  background-color: black;
  color: white;
  box-shadow: 1px 1px rgb(121, 119, 119);
}

@media (max-width: 767px) {
  .lifestyle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .lifestyle > img {
    width: 70%;
  }

  .lifestyle__description > h3 {
    font-size: 18px;
    font-weight: bold;
    margin-left: 0rem;
  }

  .lifestyle__description > p {
    font-size: 15px;
    text-align: left;
  }

  .lifestyle__description > h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5%;
  }

  .link > button {
    width: 50%;
    margin-left: 3rem;
  }
}
