.video__info {
  margin: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.video__icon1 {
  display: flex;
  flex-direction: row;

  text-align: left;
  align-items: center;
  flex-wrap: wrap;
}

.video__icon1 > p {
  width: min(90%, 200px);
}

@media (max-width: 500px) {
  .video__info {
    display: flex;
    flex-direction: column;
  }

  .video__icon1 {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
  }
}
