.video__description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video__description > h1 {
  font-size: 40px;
  text-transform: uppercase;
  margin-top: 3%;
  margin-bottom: 15px;
  font-weight: 700;
  color: rgb(77, 77, 77);
}

.video__description_2 {
  background-color: rgb(247, 244, 244);
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3%;
}

.video__description_2 > h2 {
  font-weight: 500;
  font-size: 28px;
  color: rgb(77, 77, 77);
}

.video__description_2 > p {
  width: min(90%, 400px);
  text-align: left;
  font-size: 18px;
}

.video__bottom {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  margin-bottom: 20px;
  background-color: rgb(247, 244, 244);
}

.video__bottom > h3 {
  font-size: 30px;
  font-weight: 550;
  color: rgb(63, 62, 62);
}

.video__bottom > p {
  width: min(90%, 700px);
  font-size: 18px;
  margin-top: 10px;
}

.videopack > button {
  margin-top: 15px;
  padding: 10px;
  width: 150px;
  font-size: 15px;
  border: none;
  border-bottom: 3px solid rgb(119, 109, 109);
  border-radius: 5px;
}

.videopack > button:hover {
  cursor: pointer;
  letter-spacing: 0.4px;
}

@media (max-width: 767px) {
  .video__description > h1 {
    margin-left: 15%;
    width: min(90%, 700px);
  }

  .video__description_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .video__description_2 > p {
    margin-bottom: 6%;
  }
}
