.form-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.form__register {
  background: #757f9a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #d7dde8,
    #a0a6b9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #d7dde8,
    #b6b8bd
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  flex-direction: column;
  display: flex;
  align-items: center;
  margin: 5% 20%;
  border-radius: 50px;
  padding: 20px;
}

.form__register > button {
  padding: 13px;
  width: 50%;
  border-radius: 30px;
  border: none;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.3px;
}

.form__register > button:hover {
  background-color: #bcc1ce;
  transform: translateY(-3px);
  box-shadow: 1px 1px #bcc1ce;
}

.contact__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4%;
}

.contact__title > h2 {
  margin-bottom: 10px;
  font-size: 35px;
  font-weight: 400;
}

.contact__title > p {
  font-size: 18px;
}

.form-field {
  width: 50%;
  padding: 12px 20px;
  margin: 30px 0px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 0.2px solid rgb(197, 197, 197);
}

.form-field:focus {
  border-color: rgb(197, 197, 197);
}
