.landscape {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.landscape__description {
  text-align: left;
  margin-left: 30px;
}

.landscape__description > h3 {
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: 500;
}

.landscape__description > p {
  width: min(90%, 500px);
  font-weight: 400;
}

.landscape__description > h2 {
  font-weight: 500;
  font-size: 20px;
  margin-top: 20px;
}

.link__lds > button {
  margin-top: 20px;
  padding: 10px 10px;
  width: 30%;
  border-radius: 5px;
  border: 2px solid black;
  font-size: 15px;
  font-weight: 600;
  background-color: white;
  color: black;
  cursor: pointer;
}

.link__lds > button:hover {
  background-color: black;
  color: white;
  box-shadow: 1px 1px rgb(121, 119, 119);
}

@media (max-width: 768px) {
  .landscape {
    display: flex;
    flex-direction: column;
  }

  .landscape > img {
    width: 100%;
  }

  .landscape__description > h3 {
    font-size: 23px;
    font-weight: bold;
  }

  .link__lds > button {
    width: 50%;
    margin-left: 15%;
  }
}
